<div class="container">
    <h1>Sign In</h1>
    <form #registerForm="ngForm" (submit)="signin()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   name="username"
                   [(ngModel)]="user.username"
                   #username="ngModel"
                   required />
            <span [hidden]="username.valid || username.pristine">
                Please enter username
            </span>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   name="password"
                   [(ngModel)]="user.password"
                   #password="ngModel"
                   required />
            <span [hidden]="username.valid || username.pristine">
                Please enter password!
            </span>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>