<div class="sidebar" data-color="purple" data-image="/dist/assets/img/sidebar-5.jpg">
    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"

    -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a [routerLink]="['/home']" class="simple-text">
               CRM
            </a>
        </div>
        <ul class="nav">
            <li class="active">
                <a [routerLink]="['/home']">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['/user']">
                    <i class="pe-7s-user"></i>
                    <p>Add Profile</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['/customers/all']">
                    <i class="pe-7s-note2"></i>
                    <p>Customers</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['/products/all']">
                    <i class="pe-7s-science"></i>
                    <p>Products</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['/sales']">
                    <i class="pe-7s-cash"></i>
                    <p>Sales</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="upgrade.html">
                    <i class="pe-7s-rocket"></i>
                    <p>Settings</p>
                </a>
            </li>
        </ul>
    </div>
</div>
